<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Concurrency_DataRace.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B5DB46C2981D05800104E9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5DB4822981D05900104E9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5DB48C2981D05900104E9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
